html {
    position: relative;
    min-height: 100%;
    background: #FFFFFF;
    color: #0A0A0A;
    font-weight: normal;
}
body {
    font-family: 'Poppins', sans-serif;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .clearfix {
    display: block;
}

img {
    max-width: 100%;
}

* html .clearfix {
    height: 1%;
}

.row {
    margin: 0;
}

ul {
    margin: 0;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0 0 10px;
}
p{
    margin: 0 0 10px;
}
.overlay_hover {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.btn_green {
    background: #448547;
    border: 1px solid #448547;
    color: #FFFFFF;
    line-height: 32px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0px 10px;
    padding: 5px 15px;
    -webkit-box-shadow: 0px 0px 14px -3px rgba(68,133,71,1);
    -moz-box-shadow: 0px 0px 14px -3px rgba(68,133,71,1);
    box-shadow: 0px 0px 14px -3px rgba(68,133,71,1);
    min-width: 120px;
}
.btn_green:focus,
.btn_green:hover {
    background: #448547;
    border: 1px solid #448547;

    -webkit-box-shadow: 0px 0px 19px -3px rgba(68,133,71,1);
    -moz-box-shadow: 0px 0px 19px -3px rgba(68,133,71,1);
    box-shadow: 0px 0px 19px -3px rgba(68,133,71,1);
}

.btn_white {
    background: #FFFFFF;
    border: none;
    color: #448547;
    line-height: 32px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0px 10px;
    padding: 5px 15px;
    -webkit-box-shadow: 0px 0px 14px -3px rgba(68,133,71,1);
    -moz-box-shadow: 0px 0px 14px -3px rgba(68,133,71,1);
    box-shadow: 0px 0px 14px -3px rgba(68,133,71,1);
    min-width: 120px;
    cursor: pointer;
}
.btn_white:focus,
.btn_white:hover {
    background: #fff;
    border: none;
    -webkit-box-shadow: 0px 0px 19px -3px rgba(68,133,71,1);
    -moz-box-shadow: 0px 0px 19px -3px rgba(68,133,71,1);
    box-shadow: 0px 0px 19px -3px rgba(68,133,71,1);
}
.btn_grBorder:focus,
.btn_grBorder {
    font-size: 18px;
    color: #73D578;
    border: 2px solid #73D578;
    min-height: 45px;
    line-height: 42px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    padding: 0 18px;
    font-weight: 500;
    background: none;
}
.btn_lightgr:focus,
.btn_lightgr {
    background: #73D578;
    font-size: 18px;
    color: #393939;
    max-width: 186px;
    border: 2px solid #73D578;
    min-height: 45px;
    line-height: 42px;
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
    padding: 0 15px;
    min-width: 120px;
}

.btn_default {
    font-size: 18px;
    font-weight: 500;
    color: #54A958;
    border: 2px solid #54A958;
    padding: 0 15px;
    min-width: 120px;
    min-height: 45px;
    line-height: 42px;
    padding: 0 15px;
    border-radius: 10px;
    display: inline-block;
}
.btn_default:hover {
    background: #54A958;
    color: #fff;
}

.btn_grBorder:hover,
.btn_lightgr:hover,
.btn_default:hover,
.btn:hover,
button:hover {
    -webkit-box-shadow: 0px 0px 19px -3px rgba(68,133,71,1);
    -moz-box-shadow: 0px 0px 19px -3px rgba(68,133,71,1);
    box-shadow: 0px 0px 19px -3px rgba(68,133,71,1);
    cursor: pointer;
}

.none_button:hover,
.none_button {
    box-shadow: none !important;
    background: none !important;
    border: none;
}
.sidenav-overlay {
    background: none;
}
.box_shadow {
    -webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.44);
    box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.44);
}
.box_radius {
    border-radius: 20px;
}
.box_shadow_radius {
    -webkit-box-shadow: 0px 4px 12px 4px rgb(0 0 0 / 43%);
    -moz-box-shadow: 0px 4px 12px 4px rgba(0,0,0,0.43);
    box-shadow: 0px 4px 12px 4px rgb(0 0 0 / 43%);
    border-radius: 20px;
}

/* .input-field {
    margin-bottom: 20px;
}
.input-field textarea,
.input-field select, 
.input-field input {
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 12px -4px rgb(0 0 0 / 61%) !important;
    -moz-box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.61) !important;
    box-shadow: 0px 4px 12px -4px rgb(0 0 0 / 61%) !important;
    height: 55px !important;
    font-size: 18px;
    color: #000000;
    font-weight: 400;
    width: 96% !important;
    padding: 0 2% !important;
}
.input-field  textarea {
    min-height: 180px !important;
    width: 100% !important;
    padding: 2% !important;
} */
.radio_box {
    font-weight: 600;
    color: #54A958;
}
.radio_box [type="radio"]+span:before, [type="radio"]+span:after {
    width: 20px;
    height: 20px;
}
.radio_box [type="radio"]:not(:checked)+span:before, 
.radio_box [type="radio"]:not(:checked)+span:after {
    border: 2px solid #54A958;
  }
.radio_box [type="radio"]:checked+span:after, 
[type="ra.radio_box dio"].with-gap:checked+span:after {
    background: #54A958;
  }
.radio_box [type="radio"]:checked+span:after, 
.radio_box [type="radio"].with-gap:checked+span:before, 
.radio_box [type="radio"].with-gap:checked+span:after {
    border: 2px solid #54A958;
}

[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    border: 2px solid #448547;
    border-radius: 20px;
}
[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #448547;
    background-color: #448547;
    border-radius: 20px;
}

/************************** common style css start  ************************************/
.page_content_wrap {
    border-radius: 30px;
    padding: 50px;
    border: 1px solid #448547;
    position: relative;
}
.page_content_wrap .mainTitle {
    position: absolute;
    top: -32px;
    left: 50px;
    background: #fff;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 600;
    color: #448547;
    margin: 0;
}

.leftCol_wrap {
    padding: 30px !important;
}
/************************** common style css End  ************************************/

/* ****************** Header css start r********************* */

.header_wrap {
    padding: 10px 0;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0px 5px 7px -1px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 5px 7px -1px rgba(0,0,0,0.56);
    box-shadow: 0px 5px 7px -1px rgba(0,0,0,0.56);
    background: #fff;
    transform: translateZ(0);
    transition:all 0.5s;
    z-index: 9;
}
.main_wrapper .fixedHeader {
    position: fixed;
    top:0; left:0;
    width: 100%; 
    padding: 5px 0;
    z-index: 9;
    transform: translateZ(0);
    transition:all 0.5s;
    animation:slide-down 0.7s;
    /* opacity:0.9;     */
}
.home_wrap .header_wrap {
    box-shadow: none;
}
.home_wrap .fixedHeader {
    -webkit-box-shadow: 0px 5px 7px -1px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 5px 7px -1px rgba(0,0,0,0.56);
    box-shadow: 0px 5px 7px -1px rgba(0,0,0,0.56);
}
 /* Logo css start  */
 .logo {
    text-align: center;
}
.logo img {
    max-width: 80px;
    height: auto;
}
.fixedHeader .logo img {
    max-width: 70px;
}

/* Logo css end  */

/* Header Top right css start  */

.header_wrap .top_right {
    text-align: right;
    padding-top: 23px;
}
.fixedHeader.header_wrap .top_right {
    padding-top: 18px;
}


.header_wrap .top_right .material-icons {
    margin: 5px 15px 0 0;
    float: left;
}
/* Header Top right css end  */
/* ******* Nav css start ********** */
.mainnav_wrap {
    padding-top: 30px !important;
}
.fixedHeader .mainnav_wrap {
    padding-top: 25px !important;
}
.mainNav {
    background: none;
    box-shadow: none;   
    height: auto;
    line-height: inherit;
}
.header_dasktop .mainNav ul li {
    padding: 0 20px;
}
.header_dasktop .mainNav ul li:first-child {
    padding-left: 0;
}
.header_dasktop .mainNav ul li:last-child {
    padding-right: 0;
}
.mainNav ul li a:link,
.mainNav ul li a:active,
.mainNav ul li a:visited {
    font-size: 20px;
    color: #448547;
    font-weight: 500;
    padding: 0;
}
.mainNav ul li a:hover {
    background: none;
}
.header_dasktop .mainNav ul li li {
    padding: 10px 20px 0 !important;
}
.mainNav ul li .material-icons {
    font-size: 30px;
    line-height: initial;
    height: auto;
}
.header_dasktop .mainNav .subNav {
    min-width: 215px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 14px -3px rgb(0 0 0);
    -moz-box-shadow: 0px 0px 14px -3px rgba(0,0,0,1);
    box-shadow: 0px 0px 14px -3px rgb(0 0 0);
    border-radius: 20px;
    border: 1px solid #4E9C52;
    padding: 10px;
} 
.header_dasktop .mainNav .subNav li,
.header_dasktop .mainNav .subNav li:focus,
.header_dasktop .mainNav .subNav li:hover, 
.header_dasktop .mainNav .subNav li.active {
    background-color: inherit !important;
}
.header_dasktop .mainNav .subNav li a:link,
.header_dasktop .mainNav .subNav li a:active,
.header_dasktop .mainNav .subNav li a:visited {
    padding: 8px 10px;
    background: none !important;
    display: inline-block;
}
.header_dasktop .mainNav .subNav li a:hover {
    background: #D2CFCF !important;
    border-radius: 5px;
}

/* Mobile header css :start */
.mobile_header {
    display: none;
}
.mobile_header .material-icons {
    background: #448547;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.mobile_header .mobile_top_right .material-icons {
    margin-left: 5px;
}
.mobile_header .sidenav {
    padding: 50px 35px;
}
/* Mobile header css end */

/* ******* Nav css end ********** */
/* ****************** Header css end r********************* */


/********************* Landing page css start  **************************/
/* *************** Banner css start ***************** */
.bannerwrap {
    background : url('../images/frontendimages/new_layout_images/banner.png') no-repeat center;
    background-size: cover;
    border-radius: 20px 20px 0 0;
    position: relative;
    width: 100%;
}
.banner_slider .banner_slider {
    z-index: 1;
    vertical-align: middle;
    display: flexbox;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 20px 20px 0 0;
}
.banner_slider .banner_inner {
    margin: 0 auto;
    width: 871px;   
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bannerwrap .banner_search {
    margin-bottom: 20px;
}
.bannerwrap .banner_slider h2 {
    color: #FFFFFF;
    margin: 0 0 20px;
    font-size: 70px;
    line-height: 65px;
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 2px 10px #448547;
}
.banner_search .module-search #system_search {
    display: flex;
    border: 1px solid rgba(129,169,90,1);
    border-radius: 20px;
    height: 65px;
    padding: 0px 75px 0 185px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 5px 11px 1px rgba(255,255,255,0.76);
    -moz-box-shadow: 0px 5px 11px 1px rgba(255,255,255,0.76);
    box-shadow: 0px 5px 11px 1px rgba(255,255,255,0.76);
    border: 1px solid #448547;
}
.banner_search .module-search {
    position: relative;
}
.module-search .select2-container {
    position: absolute;
    width: 180px !important;
    left: 5px;
    top: 5px;
    bottom: 5px;
}
.banner_search .select2-container--default .select2-selection--single {
    border-radius: 15px;
    height: 55px;
    -webkit-box-shadow: 0px 0px 14px -3px rgba(68,133,71,1);
    -moz-box-shadow: 0px 0px 14px -3px rgba(68,133,71,1);
    box-shadow: 0px 0px 14px -3px rgba(68,133,71,1);
}
.banner_search .select2-selection--single .select2-selection__rendered {
    line-height: 55px;
    font-size: 20px;
    padding-left: 10px;
    text-align: center;
}
.banner_search .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 15px;
    right: 7px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    display: none;
}
.banner_search .material-icons option {
    font-size: 2rem !important;
}
.banner_search .module-search .search_input {
    border: none !important;
    width: 100% !important;
    text-indent: 0 !important;
    text-align: center;
    margin: 0;
    height: 62px;
    font-size: 25px;
    font-weight: 300;
    padding: 0 15px;
}
.banner_search .module-search .search_input:focus {
    box-shadow: none !important;
}
.banner_search .search-btn {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 20px 20px 0 !important;
    background-color: #448547 !important;
    width: 75px;
    padding: 0 12px;
    height: 65px;
    line-height: 65px;
}
.banner_search .material-icons {
    font-size: 2.5rem;
    margin-top: 3px;
}
.banner_inner .search_verified {
    font-size: 23px;
    font-weight: 200;
    color: #fff;
}
/* *************** Banner css end ***************** */
  
/* *************** Main Container css start ***************** */
.mainContainer {
    padding: 50px 0;
}
.product_innrer_wrap {
    padding: 40px 80px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.product_wrapper h2 {
    font-size: 32px;
    font-weight: 600;
    margin: 0 0 20px;
}
.product_slider .slick-prev {
    background : url('../images/frontendimages/new_layout_images/prev.png') no-repeat center;
    background-size: 70px;
    width: 70px;
    height: 70px;
    border: none;
    font-size: 0;
    position: absolute;
    left: -65px;
    top: 45%;
    cursor: pointer;
} 
.product_slider .slick-next {
    background : url('../images/frontendimages/new_layout_images/next.png') no-repeat center;
    background-size: 70px;
    width: 70px;
    height: 70px;
    border: none;
    font-size: 0;
    position: absolute;
    right: -65px;
    top: 45%;
    cursor: pointer;
} 
.view_all,
.product_wrapper .product_view {
    text-align: right;
    margin-bottom: 10px;
}

.view_all a:link,
.view_all a:active,
.view_all a:visited,
.product_wrapper .product_view a:link,
.product_wrapper .product_view a:active,
.product_wrapper .product_view a:visited {
    color: #257356;
    font-size: 20px;
    font-weight: 500;
}
.productBox {
    padding: 0 30px !important;
    margin-bottom: 50px;
}
.productBox .imgBox {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    -webkit-box-shadow: 0px 0px 8px -3px rgb(84 169 88);
    -moz-box-shadow: 0px 0px 8px -3px rgb(84 169 88);
    box-shadow: 0px 0px 8px -3px rgb(84 169 88);
}
.productBox .imgBox img {
    width: auto;
    /*max-height: 250px;*/
    border-radius: 10px;
}
.product_wrapper .imgBox .favorite {
    position: absolute;
    top: 10px;
    right: 10px;
}
.product_wrapper .imgBox .favorite .material-icons {
    font-size: 30px;
    color: #707070;
}
.product_wrapper .imgBox .active_favorite .material-icons {
    color: #257356;
}
.productBox .priceBox .apperal {
    font-size: 15px;
    padding-top: 8px;
    /*padding-left: 0;*/
}
.productBox .priceBox {
    padding-bottom: 10px;
}
.productBox .priceBox .price {
    font-size: 15px;
    color: #0A0A0A;
    padding-top: 8px;
    /*padding-right: 0;*/
}
.productBox h4,
.productBox h4 a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 18px;
    height: 45px;
    font-weight: 500;
    margin: 0;
    line-height: 24px;
    margin-bottom: 15px;
    color: #0A0A0A;
}
.productBox h4 a:hover {
    color: #448547;
}
.productBox .sold-out {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.productBox .sold-out h4 {
    background: #fff;
    border: 1px,solid #50A554;
    border-radius: 0 10px 0 10px;
    font-size: 18px;
    color: #257356;
    font-weight: 500;
    position: absolute;
    top: 0;
    right: 0;
    width: 115px;
    height: 40px;
    line-height: 32px;
    text-align: center;
    padding: 5px;
}
.productBox .leadTime,
.productBox .moq {
    font-size: 18px;
    font-weight: 500;
    color: #0A0A0A;
}
.productBox .leadTime span,
.productBox .moq span,
.productBox .priceBox .price span {
    font-size: 15px;
    font-weight: 300;
    color: #0A0A0A;
}

/* *** Main Container css end ***** */
/*********************8 Landing page css End  **************************/

/************************ Profile page css start ***************************/

/* profile banner css start */
.main_wrapper {
    position: relative;
}
.profile_bannerwrap {
    background : url('../images/profile-banner.png') no-repeat center;
    background-size: cover;
    left: 0;
    height: 100% !important;
    position: relative;
    text-align: center;
    margin-top: -32px;
}
.profile_bannerwrap .banner_overlay {
    background-color: rgba(255, 255, 255, 0.2);
    /* position: absolute; */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    vertical-align: middle;
    color: #fff;
    align-items: center;
    border-radius: 20px 20px 0 0;
    padding: 80px 20px 50px;
}
.profile_bannerwrap h1 {
    font-size: 65px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.profile_bannerwrap h2 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}
.profile_bannerwrap .erified {
    background : url('../images/mark_icon.png') no-repeat left 8px;
    position: absolute;
    bottom: 30px;
    right: 70px;
    padding: 18px 28px;
    font-size: 23px;
    line-height: 30px;
}
.profile_bannerwrap .leftText {
    text-decoration: underline;
}
.profile_bannerwrap .rightText {
    background : url('../images/info_icon.png') no-repeat right center;
    padding-right: 30px;
}

/* profile banner css end */

.profile_container {
    padding-top: 0;
}
/* profile_leftCol css end */
.profile_container .profile_leftCol {
    -webkit-box-shadow: 0px 0px 22px -3px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px 0px 22px -3px rgba(0,0,0,0.72);
    box-shadow: 0px 0px 22px -3px rgba(0,0,0,0.72);
    border-radius: 500px 500px 50px 50px;
    padding: 30px !important;
    margin-top: -186px;
    position: relative;
    z-index: 2;
    background: #fff;
    font-size: 16px;
    line-height: 25px;
}
.profile_leftCol .profile_pic,
.leftCol_wrap .profile_pic  {
    width: 200px;
    height: 200px;
    vertical-align: middle;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.72);
    box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.72);
    margin: 0 auto;
    margin-bottom: 25px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile_leftCol .office_address,
.leftCol_wrap .office_address {
    border-bottom: 1px solid #707070;
    padding-bottom: 10px;
    font-size: 18px;
}
.profile_leftCol .office_address h3,
.leftCol_wrap .office_address h3 {
    font-size: 25px;
    color: #464545;
    font-weight: 600;
    margin: 0 0 15px 0;
}
.profile_leftCol .office_address h4,
.leftCol_wrap .office_address h4 {
    font-size: 20px;
    color: #464545;
    display: inline-flex;
    line-height: 32px;
}
.profile_leftCol .office_address h4 span,
.leftCol_wrap .office_address h4 span {
    color: #54A958;
    font-size: 26px;
    padding-right: 10px;
}
.profile_leftCol .office_address h4 img,
.leftCol_wrap .office_address h4 img {
    margin-left: 10px;
}
.profile_leftCol .left_top .btn_supplier,
.leftCol_wrap .left_top .btn_supplier {
    margin: 15px 0 30px;
    display: inline-block;
    padding: 5px 20px;
}
.profile_leftCol .left_top .addressBox,
.leftCol_wrap .left_top .addressBox {
    padding: 10px 15px;
    font-weight: 500;
}
.profile_leftCol .left_top .addressBox span,
.leftCol_wrap .left_top .addressBox span {
    font-weight: 400;
    margin-bottom: 5px;
    display: inline-block;
}
.profile_leftCol .left_bottom,
.leftCol_wrap .left_bottom {
    padding-top: 20px;
}
.profile_leftCol .left_bottom h3,
.leftCol_wrap .left_bottom h3 {
    font-size: 16px;
    font-weight: 600;
}
/* profile_leftCol css end */

/* profile_contentCol css start */
.profile_tab_menu {
    background: #E4E4E4;
    padding: 12px 0;
}

.profile_contentCol .profile_tab_menu .tabs {
    background: none !important;
}
.profile_contentCol .profile_tab_menu .tabs .indicator {
    background: none;
}
.profile_contentCol .profile_tab_menu .tabs .tab {
    padding: 0 5px;
}
.profile_contentCol .profile_tab_menu .tabs .tab a:link,
.profile_contentCol .profile_tab_menu .tabs .tab a:active,
.profile_contentCol .profile_tab_menu .tabs .tab a:visited {
    font-size: 22px;
    font-weight: 500;
    color: #464545;
    text-transform: capitalize;
    border-radius: 10px;
    border: none;
}
.profile_contentCol .profile_tab_menu .tabs .tab a:hover, 
.profile_contentCol .profile_tab_menu .tabs .tab a.active {
    background-color: #4E9C52;
    color: #FFFFFF;
    transition: none !important;
}
.profile_tab_menu button {
    font-size: 22px;
    font-weight: 600;
    border: none;
    margin: 0 20px;
    background: none;
    /* padding: 15px 20px; */
    padding: 15px;
    color: #3D3D3D;
}
.profile_contentCol .tabcontent {
    padding: 50px 0 0px 50px;
    font-size: 18px;
    line-height: 30px;
}
.profile_contentCol .tabcontent h3 {
    font-size: 22px;
    font-weight: 600;
    color: #464545;
    margin-bottom: 30px;
}
.profile_contentCol .tabcontent .top_titleWrap h3 {
    margin: 0; 
    padding-top: 10px;
}
.profile_contentCol .tabcontent .company_stuff {
    padding: 25px 0;
}
.profile_contentCol .tabcontent .company_stuff .company_stuff_img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-bottom: 10px;
}
.profile_contentCol .tabcontent .company_stuff img {
    height: 50px;
    width: auto;
}
.profile_contentCol .tabcontent .company_stuff .title {
    font-size: 16px;
    font-weight: 600;
    color: #4E9C52;
}
.profile_contentCol .tabcontent .quantity {
    font-size: 20px;
    color: #4E9C52;
    font-weight: 400;
}
.profile_contentCol .tabcontent .certifications {
    padding: 50px 0 70px;
}
.profile_contentCol .tabcontent .profile_product_wrap .product_boxwrap {
    padding-bottom: 80px;
}
.profile_tabNav_wrap .product_view {
    margin-bottom: 0;
}
.profile_tabNav_wrap .productBox {
    padding: 0 15px;
}
.profile_tabNav_wrap .productBox .priceBox .apperal {
    /*
    padding-left: 15px;
    padding-top: 0;
    */
}
.profile_tabNav_wrap .productBox .priceBox .price {
    padding-right: 15px;
}
.profile_tabNav_wrap .productBox .imgBox {
    box-shadow: none;
}
.profile_tabNav_wrap .productBox .imgBox img {
    -webkit-box-shadow: 0px 0px 8px -3px rgb(84 169 88);
    -moz-box-shadow: 0px 0px 8px -3px rgb(84 169 88);
    box-shadow: 0px 0px 8px -3px rgb(84 169 88);
 }
.profile_tabNav_wrap .product_view a:link, 
.profile_tabNav_wrap .product_view a:active, 
.profile_tabNav_wrap .product_view a:visited {
    color: #257356;
    font-size: 20px;
    font-weight: 600;
}
.profile_tabNav_wrap .factory_imgbox_wrap {
    padding-bottom: 80px;
}
.profile_tabNav_wrap .factory_imgbox_wrap .imgBox {
    height: 220px;
    overflow: hidden;
    border-radius: 12px;
    margin: 0 10px 40px 0;
    -webkit-box-shadow: 0px 4px 12px 4px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 4px 12px 4px rgba(0,0,0,0.43);
    box-shadow: 0px 4px 12px 4px rgba(0,0,0,0.43);
}
.profile_tabNav_wrap .factory_imgbox_wrap .imgBox img {
    height: 100%;
    width: 100%;
    border-radius: 12px;
}
.profile_tabNav_wrap .main_buyers_wrap {
    padding-bottom: 50px;
}
.profile_tabNav_wrap .main_buyers_wrap h3 {
    margin-bottom: 40px;
}
.profile_tabNav_wrap .main_buyers_wrap .buyers_logo_wrap {
    text-align: center;
    padding-bottom: 40px;
}
.profile_tabNav_wrap .main_buyers_wrap .logoBox {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.profile_tabNav_wrap .main_buyers_wrap .logoBox img {
    height: 50px;
    width: auto;
}
.profile_tabNav_wrap .main_buyers_wrap h5 {
    font-size: 18px;
    color: #3D3D3D;
}
.profile_tabNav_wrap .export_destination_wrap {
    padding-bottom: 120px ;
}
.export_destination_wrap .flag_img {
    background: #fff;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 7px 13px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 13px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 13px -3px rgba(0,0,0,0.75);
    margin: 0 auto 20px;
    overflow: hidden;
}
.export_destination_wrap h5 {
    font-size: 20px;
    font-weight: 500;
}
.owner_info_wrap .owner_info_box {
    padding-bottom: 80px;
}
.owner_info_wrap .owner_img {
    width: 220px;;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-box-shadow: 0px 7px 13px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 13px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 13px -3px rgba(0,0,0,0.75);
}
.owner_info_wrap .owner_img img {
    height: auto;
    width: 100%;
}

/* Profile page tab_Home_menu css end */

/* Profile page Tab Profiel_menu css start */

.overview_table_wrap {
    padding-bottom: 80px;
}
.overview_table_wrap h4 {
    font-size: 20px;
    font-weight: 500;
    color: #464545;
    margin-bottom: 20px;
}
.profile_tabNav_wrap .top_titleWrap {
    margin-bottom: 30px;
}
.capacity_machineries .top_titleWrap {
    margin-bottom: 60px;
}
.profile_tabNav_wrap .upload_delete_wrap {
    padding: 30px 0 80px;
}
.profile_tabNav_wrap .editBox .btn_green_White {
    background: #fff;
    height: 45px;
    line-height: 45px;
    min-width: 150px;
    border: none;
    border-radius: 10px;
    padding: 0;
    -webkit-box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.23);
    cursor: pointer;
}
.profile_tabNav_wrap .editBox .btn_green_White:hover {
    -webkit-box-shadow: 0px 0px 19px -3px rgba(68,133,71,1);
    -moz-box-shadow: 0px 0px 19px -3px rgba(68,133,71,1);
    box-shadow: 0px 0px 19px -3px rgba(68,133,71,1);
}
.profile_tabNav_wrap .editBox .btn_green_White.btn_delete {
    margin-left: 20px;
}
.profile_tabNav_wrap .editBox .btn_green_White:focus {
    background: #fff;
}
.profile_tabNav_wrap .editBox .btn_green_White span {
    background: #4E9C52;
    padding: 0;
    float: left;
    height: 100%;
    width: 45px;
    line-height: 30px;
    border-radius: 10px 0 0 10px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 45px;
}
.profile_tabNav_wrap .editBox .btn_upload span{
    font-size: 25px;
}
.profile_tabNav_wrap .overview_table {
    border-radius: 15px;
    padding: 25px;    
}
.overview_table_wrap table {
    font-size: 18px;
    font-weight: 500;
}
.profile_tabNav_wrap .overview_table tr {
    border-bottom: 1px solid #448547;
    border-top: 1px solid #448547;
}
.profile_tabNav_wrap .overview_table tr th,
.profile_tabNav_wrap .overview_table tr td {
    text-align: center;
}
.profile_tabNav_wrap .verified_img {
    float: right;
}
.profile_tabNav_wrap .production_flow {
    border: 1px solid #707070;
    border-radius: 10px;
}
.profile_tabNav_wrap .overview_table tr:last-child {
    border-top: none;
}
.profile_tabNav_wrap .overview_table tr td tr:last-child {
    border-bottom: none;
}
.profile_tabNav_wrap .overview_table tr td tr {
    border-top: none;
}
.profile_tabNav_wrap .overview_table tr td tr:first-child td {
    padding-top: 40px;
}
.profile_tabNav_wrap .overview_table tr td tr:last-child td {
    padding-bottom: 40px;
}
.profile_tabNav_wrap .production_flow tr td {
    padding: 0;
}
.profile_tabNav_wrap .production_flow tr td table td {
    padding: 5px 15px;
}
.profile_tabNav_wrap .production_flow tr th {
    border-right: 1px solid #448547;
    padding: 15px;
    text-align: center;
    font-weight: 500;
}
.profile_tabNav_wrap .production_flow tr th table th {
    border-right: none;
}
.profile_tabNav_wrap .overview_table_alignLeft tr td {
    text-align: left;
}

.profile_tabNav_wrap .worker_welfare_wrap {
    padding-bottom: 80px;
}
.profile_tabNav_wrap .worker_welfare_wrap .worker_welfare_box {
    padding-bottom: 60px;
}
.profile_tabNav_wrap .worker_welfare_wrap .worker_welfare_box:last-child {
    padding-bottom: 0;
}
.profile_tabNav_wrap .worker_welfare_wrap .worker_welfare_box .welfare_box {
    padding: 8px 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}
.profile_tabNav_wrap .worker_welfare_wrap .worker_welfare_box .welfare_box .title {
    padding-left: 0;
}
.profile_tabNav_wrap .membership_wrap {
    padding-bottom: 80px;
}
.profile_tabNav_wrap .membership_wrap .membership_textBox .imgbox {
   height: 75px;
   overflow: hidden;
   margin-bottom: 25px;
}
.profile_tabN av_wrap.membership_wrap .membership_textBox .imgbox img {
    height: 100%;
    width: auto;
}
.profile_tabNav_wrap .pr_highlights_wrap .paper_img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100px;
    height: 72px;
}
.profile_tabNav_wrap .pr_highlights_wrap .paper_img img {
    width: 200px;
    height: auto;
    vertical-align: middle;
}
/* Profile page Tab Profiel_menu css end */

/* Profile products page start */
.profile_products_gallery .profile_products_imgWrap {
    position: relative;
    text-align: center;
}
.profile_products_gallery .gallery_img {
    border-radius: 15px;
    -webkit-box-shadow: 0px 4px 12px 4px rgb(0 0 0 / 43%);
    -moz-box-shadow: 0px 4px 12px 4px rgba(0,0,0,0.43);
    box-shadow: 0px 4px 12px 4px rgb(0 0 0 / 43%);
    margin-bottom: 20px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.profile_products_gallery img {
    width: 100%;
    border-radius: 15px;
    display: block;
}
.profile_products_gallery .gallery_textbox {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    border-radius: 15px;
}
.profile_products_gallery .gallery_textbox h5 {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.profile_products_gallery .gallery_textbox h5 span {
    display: block;
    font-size: 18px;
    font-weight: 600;
}
.gallery_leftimgs .gallery_img {
    height: 208px;
    overflow: hidden;
}
.gallery_midimgs .gallery_img {
    height: 436px;
    overflow: hidden;
}
.gallery_rightimgs .gallery_img {
    height: 208px;
    overflow: hidden;
}
.products_gallery_men .gallery_img {
    height: 302px;
    overflow: hidden;
}
.profile_tabNav_wrap .tab_navMenu {
    padding-bottom: 20px;
}
.profile_tabNav_wrap .tab_navMenu ul li  {
    display: inline-block;
    font-size: 22px;
    font-weight: 400;
    padding-right: 10px;
}
.profile_tabNav_wrap .tab_navMenu ul li a:link,
.profile_tabNav_wrap .tab_navMenu ul li a:active,
.profile_tabNav_wrap .tab_navMenu ul li a:visited {
    background: url(../images/path_arrow.png) no-repeat right center;
    padding-right: 30px;
    font-size: 22px;
    color: #464545;
    font-weight: 600;
    background-size: 14px;
}
.profile_tabNav_wrap .tab_navMenu ul li a:hover {
    color: #448547;
}
/* Profile products page end */

/* Profile factory tour page start */
.profile_factory_tourWrap .top_titleWrap a:link,
.profile_factory_tourWrap .top_titleWrap a:active,
.profile_factory_tourWrap .top_titleWrap a:visited {
    color: #257356;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}
.profile_factory_tourWrap .factory_video_box {
    padding-bottom: 80px;
}
.profile_factory_tourWrap  .gallery_navbar ul li {
    display: inline-block;
    margin-right: 40px;
}
.profile_factory_tourWrap  .gallery_navbar ul li a:link,
.profile_factory_tourWrap  .gallery_navbar ul li a:active,
.profile_factory_tourWrap  .gallery_navbar ul li a:visited {
    color: #257356;
    font-size: 18px;
    font-weight: 600;
}
.profile_factory_tourWrap  .gallery_navbar ul li.active a,
.profile_factory_tourWrap  .gallery_navbar ul li a:hover {
    text-decoration: underline;
}

/*************** Profile factory tour page start *******************/

/********************* suppliers page start ************************/
/* .suppliers_container {
    padding-top: 40px;
} */
.suppliers_container .suppliers_filter_wrap {
    padding-bottom: 50px;
} 
.suppliers_container .suppliers_filter_wrap .title {
    font-size: 20px;
    color: #464545;
    font-weight: 600;
}
.suppliers_filter_wrap .filter_dropMenu {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
    box-shadow: none;
    border: 1px solid #448547;
}
.suppliers_container .suppliers_filter_wrap .dropdown-content {
    background: #fff;
    border: 1px solid #448547;
    min-width: 200px;
    border-radius: 10px;
}
.suppliers_container .suppliers_filter_wrap .dropdown-content li label {
    float: right;
    text-align: right;
    margin-left: 5px;
}
.suppliers_container .suppliers_filter_wrap .dropdown-content li label span{
    padding: 0 10px 0 0;
}
.suppliers_container .suppliers_filter_wrap .dropdown-content li a:link,
.suppliers_container .suppliers_filter_wrap .dropdown-content li a:active,
.suppliers_container .suppliers_filter_wrap .dropdown-content li a:visited {
    color: #448547;
    font-size: 18px;
}
.suppliers_filter_wrap .filter_dropMenu img {
    float: left;
    margin: 5px 8px 0 0;
    width: 25px;
}
.suppliers_filter_wrap .filter_dropMenu .material-icons {
    float: right;
    margin-top: 5px;
    margin-left: 5px;
}
.suppliers_filter_wrap .filter_search {
    width: 360px;
    float: right;
    position: relative;
    height: 45px;
    border: 1px solid #448547;
    padding: 5px 132px 5px 38px;
    border-radius: 10px;
}
.suppliers_filter_wrap .filter_search .material-icons {
    position: absolute;
    left: 5px;
    top: 7px;
    font-size: 32px;
    color: #54A958;
    font-weight: 700;
}
.suppliers_filter_wrap .filter_search .filter_search_input {
    margin-bottom: 0;
    border: none;
    font-size: 18px;
    font-weight: 200;
    height: 30px;
    line-height: 30px;
    border: none !important;
}
.suppliers_filter_wrap .filter_search .filter_search_input:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.suppliers_filter_wrap .filter_search .btn_search {
    position: absolute;
    right: 3px;
    top: 4px;
    margin: 0;
    line-height: 24px;
}
 .suppliers_content_wrap .industries_boxWrap {
    padding-bottom: 50px;
    font-size: 18px;
    margin: 0 -20px;
}
.suppliers_content_wrap .industries_boxWrap .box_shadow {
    border-radius: 20px;
    padding: 20px 20px 0 20px;
    margin: 0 15px;
}
.suppliers_content_wrap .industries_boxWrap .industry_logobox img {
    max-height: 60px;
}
.suppliers_content_wrap .industries_boxWrap .industry_logobox .right img {
    max-height: 45px;
}
.suppliers_content_wrap .industry_address {
    padding: 20px 0 30px;
    text-align: center;
    font-weight: 500;
}
.suppliers_content_wrap .industry_address h5{
    font-size: 22px;
    font-weight: 600;
}
.suppliers_content_wrap .industry_address img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.suppliers_content_wrap .industry_details {
    padding: 0 42px 35px;
    font-weight: 500;
}
.suppliers_content_wrap .industry_details img {
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.suppliers_content_wrap .industry_view {
    background: #54A958;
    padding: 10px;
    margin: 0 -20px;
    border-radius: 0 0px 20px 20px;
    text-align: center;
}
.suppliers_content_wrap .industry_view a:link,
.suppliers_content_wrap .industry_view a:active,
.suppliers_content_wrap .industry_view a:visited {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
}
/********************* suppliers page End **************************/

/********************* Blog page css start **************************/
.blog_info_wrap {
    padding: 40px 30px 10px;
}
.blog_info_wrap .mainTitle {
    position: absolute;
    top: -32px;
    left: 50px;
    background: #fff;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 600;
    color: #448547;
    margin: 0;
}
.blog_info_wrap .blog_content_box {
    position: relative;
    margin-bottom: 35px;
    min-height: 308px;
}
.blog_content_box .blog_imgbox img {
    border-radius: 20px;
    display: block;
    height: 100%;
}
.blog_content_box .blog_inner_box {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 15px 25px;
    color: #fff;
    border-radius: 20px;
    z-index: 1;
}
.blog_content_box .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}
.blog_content_lg_box .blog_inner_box {
    top: inherit;
    border-radius: 0 0 20px 20px;
    padding-bottom: 30px;
    background: url(../images/blog_inner_bg.png) no-repeat center center;
    background-size: 100% 100%;
}
.blog_content_box .rating_wrap {
    font-size: 15px;
    font-weight: 400;
    box-sizing: inherit;
    padding-bottom: 15px;
}
.blog_content_box .rating_wrap span .material-icons {
    float: left;
    color: #FFF941;
    margin-right: 10px;
}
.blog_content_box .ratting_time {
    border-left: 1px solid #fff;
    padding-left: 15px;
    margin-left: 15px;
}
.blog_content_box h3 {
    font-size: 25px;
    line-height: 35px;
    font-weight: 500;
    margin-bottom: 20px;
}
.blog_content_box h3 a:link,
.blog_content_box h3 a:active,
.blog_content_box h3 a:visited {
    color: #fff;
    text-decoration: none;
}
.blog_content_box .blog_review_wrap {
    box-sizing: inherit;
}
.blog_content_lg_box .blog_inner_box .blog_review_wrap {
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: inline-block;
}
.blog_review_wrap span {
    border-left: 1px solid #fff;
    padding: 0 10px;
    float: left;
} 
.blog_review_wrap .blog_views {
    padding-left: 0;
    border: none;
}
.blog_review_wrap span.material-icons {
    border-left: none;
    padding: 0;
    margin-right: 10px;
    display: inline-block;
    font-size: 20px;
    color: #6BC4FF;
}
.blog_review_wrap .blog_likes span.material-icons {
    color: #FF3939;
}

.blog_detail {
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
}

.blog_detail .mainTitle {
    background: #fff url(../images/home_arrow.png) no-repeat 15px center;
    padding-left: 80px;
    background-size: 50px;
}

.blog_detail .mainTitle a {
    color: #448547;
}
.blog_detail h3 {
    font-size: 35px;
    color: #448547;
    font-weight: 600;
    margin-bottom: 30px;
}
.blog_detail h6 {
    font-size: 35px;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 20px;
}
.blog_detail p {
    margin-bottom: 20px;
}
.blog_detail .feature_img {
    max-height: 330px;
    overflow: hidden;
    margin-bottom: 40px;
}
.blog_detail .feature_img img {
    width: 100%;
    display: block;
    border-radius: 20px;
}
/********************* Blog page css End **************************/


/******************** Helps page css Start ************************/
.helps_content_wrap .helps_top_bar {
    padding-bottom: 30px;
}
.helps_content_wrap .helps_top_bar .btn_default {
    margin-right: 20px;
    padding: 2px 20px;
}
.helps_content_wrap .helps_top_bar a.active {
    background: #54A958;
    color: #fff;
}
.helps_content_wrap .helps_menu {
    padding-bottom: 30px;
}
.helps_content_wrap .helps_menu ul li {
    display: inline-block;
}
/********************* Helps page css End **************************/


/********************* RFQ page css start **************************/
.contentCol_wrap {
    padding-left: 50px !important;
}


.rfq_leftCol .rfq_follow_wrap {
    padding-top: 20px;
}
.rfq_leftCol .rfq_follow_wrap .rfq_follow {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    color: #4E9C52;
}
.rfq_leftCol .rfq_follow_wrap .rfq_follow span {
    font-size: 35px;
    font-weight: 600;
    display: block;
}

.rfq_content_box {
    font-size: 18px;
    line-height: 28px;
}
.rfq_content_box .quick_rfq_wrap {
    -webkit-box-shadow: 0px 11px 10px -4px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 11px 10px -4px rgba(0,0,0,0.45);
    box-shadow: 0px 11px 10px -4px rgba(0,0,0,0.45);
    padding: 35px;
    border-radius: 20px;
}
.rfq_content_box .quick_rfqForm_wrap {
    position: relative;
    border: 2px solid #448547;
    border-radius: 20px;
    padding: 40px;
}
.rfq_content_box .quick_rfqForm_wrap h4 {
    position: absolute;
    top: -22px;
    left: 22px;
    background: #fff;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}
.rfq_content_box .rfq_select {
    position: absolute;
    top: -22px;
    right: 20px;
}
.rfq_content_box .rfq_select .btn_filter_dropMenu {
    background: #fff;
    font-size: 13px;
    color: #448547;
    font-weight: 300;
    min-height: 30px;
    line-height: 35px;
    border: 1px solid #448547;
} 
.rfq_content_box .rfq_select .btn_filter_dropMenu span {
    font-size: 18px;
    font-weight: 600;
    padding-right: 20px;
}
.rfq_content_box .rfq_select .btn_filter_dropMenu .material-icons {
    float: right;
    margin-top: 3px;
    font-size: 30px;
    margin-left: 10px;
}
.rfq_content_box .file_attach {
    position: absolute;
    bottom: -25px; 
    right: 200px;
    background: #fff;
    padding: 5px 10px;
}
.rfq_content_box .file_attach img {
    margin: 0 10px;
}
.rfq_content_box .btn_rfq_post {
    position: absolute;
    bottom: -22px; 
    right: 25px;
    box-shadow: none;
}
.rfq_content_box .rfq_from .input-field {
    margin: 0;
}
.rfq_content_box .rfq_from textarea {
    min-height: 80px;
    padding: 5px;
    border: none;
}
.rfq_content_box .rfq_detail_from .input-field {
    margin: 0 0 20px;
    padding: 0;
}
.rfq_content_box .rfq_detail_from label {
    font-size: 18px;
    font-weight: 500;
    color: #448547;
}
.rfq_content_box .rfq_detail_from .select2-container--default .select2-selection--single,
.rfq_content_box .rfq_detail_from textarea,
.rfq_content_box .rfq_detail_from input {
    border: 1px solid #448547 !important;
    border-radius: 8px;
    font-size: 18px;
    height: 45px;
    line-height: 40px;
    padding: 3px 2%;
}
.rfq_content_box .rfq_detail_from input {
    padding: 3px 2%;
    width: 96%;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
}
.rfq_content_box .rfq_detail_from textarea {
    padding: 5px 10px;
    min-height: 150px;
}

.rfq_content_box .quick_rfqForm_wrap .btn_detailed_rfq {
    background: url(../images/rfq_detaile_arrow_down.png.png) no-repeat center bottom;
}


.rfq_info_wrap {
    padding: 35px;
}
.rfq_day_wrap {
    border-bottom: 1px solid #707070;
    position: relative;
}
.rfq_day_wrap span {
    background: #fff;
    padding: 0 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.rfq_profile_detail {
    padding: 35px;
}
.rfq_view_detail_wrap {
    padding: 30px 0;
    color: #448547;
    font-weight: 600;
}
.detail_table {
    width: 320px;
    margin: 0 auto;
}
.responses_wrap {
    padding: 20px 0 40px;
}
/********************* RFQ page css End **************************/


/******************************* profile_contentCol css end ***************************/

/************************ Profile page css end ***************************/



/* business_stepper_wrap css start  */


.sign-wrap .leftbar {
    background-color: #194802;
    position: relative;
    text-align: center;
    height: 100vh;
  }
  .sign-wrap .leftbar .logo-wrap  {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    vertical-align: middle;
    display: flexbox;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .sign-wrap .leftbar .logo-wrap img  {
    max-height: 250px;
    margin-bottom: 20px;
  }
  .sign-wrap .logo-inner {
    width: 100%;
  }
  .sign-wrap .leftbar .logo-wrap h4 {
    font-size: 16px;
    color: #54A958;
    font-weight: 400;
  }
.business_stepper_wrap {
    padding: 50px;
  }
  .business_stepper_wrap h3 {
    font-size: 32px;
    font-weight: 600;
    color: #3D3D3D;
    margin: 0 0 30px;
  }
  .business_stepper_wrap ul.stepper.horizontal .step.active .step-title::before, 
  .business_stepper_wrap ul.stepper.horizontal .step.done .step-title::before {
    background-color: #397B3D;
  }
  .business_stepper_wrap ul.stepper.horizontal .step.wrong .step-title::before {
    background-color: red;
  }
  .step_content_inner {
    position: relative;
    width: 700px;
  }
  
  .business_step_content {
    padding-bottom: 50px;
  }
  .business_stepper .input-field label {
    font-size: 18px;
    color: #000000;
    font-weight: 400;
    padding: 18px 0 0;
    float: left;
  }
  
  .business_stepper .input-field.col label.active {
    left: 0.75rem;
    top: -12px;
  }
  .business_stepper select,
  .sign-wrap .input-wrap input {
    font-size: 18px;
  }
  
  .business_stepper .input-field select,
  .business_stepper .input-field input {
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.61) !important;
    -moz-box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.61) !important;
    box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.61) !important;
    padding: 0 2%;
    width: 96%;
    float: right;
    height: 55px;
    font-size: 18px;
    color: #000000;
    font-weight: 400;
  }
  
  .business_stepper .input-field select:focus,
  .business_stepper .input-field input:focus {
    border: none !important;
  }
  
  .business_stepper .input-field select {
    width: 100%;
  }
  
  ul.stepper.horizontal .step .step-content .step_content_inner .step-actions {
    bottom: inherit;
    padding: 0;
  }
  .step_content_inner .btm_submit {
    background: #397B3D;
    font-size: 20px;
    font-weight: 500;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    text-transform: capitalize;
  }
  .step_content_inner .btm_submit:hover {
    background: #397B3D;
  }
  .step_content_inner .previous-step {
    color: #397B3D;
    font-size: 20px;
    font-weight: 500;
    padding-top: 10px;
    text-transform: capitalize;
  }
  .business_stepper_wrap .representative_box {
    font-size: 18px;
    padding: 50px 0;
    color: #54A958;
  }
  .business_stepper_wrap .representative_box .radio_box {
    margin-left: 50px;
    font-weight: 600;
    color: #54A958;
  }
  .business_stepper_wrap .representative_box [type="radio"]+span:before, [type="radio"]+span:after {
    width: 20px;
    height: 20px;
  }
  .business_stepper_wrap .representative_box [type="radio"]:not(:checked)+span:before, 
  .business_stepper_wrap .representative_box [type="radio"]:not(:checked)+span:after {
    border: 2px solid #54A958;
  }
  .business_stepper_wrap .representative_box [type="radio"]:checked+span:after, 
  .business_stepper_wrap .representative_box [type="radio"].with-gap:checked+span:after {
    background: #54A958;
  }
  .business_stepper_wrap .representative_box .radio_box [type="radio"]:checked+span:after, 
  .business_stepper_wrap .representative_box .radio_box [type="radio"].with-gap:checked+span:before, 
  .business_stepper_wrap .representative_box .radio_box [type="radio"].with-gap:checked+span:after {
    border: 2px solid #54A958;
  }
  /* business_stepper_wrap css end  */


  /* Modal css  */
  .modal .modal-content {
      padding: 40px 40px 20px;
  }
  .modal-content h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}


/* *************** Footer Container css start ***************** */
.footer_topWrap {
    background: #257356;
    border-radius: 20px 20px 0 0;
    color: #fff;
    padding: 40px 0;
    font-size: 35px;
    line-height: 45px;
    font-weight: 500;
}
.footer_topWrap .thumb_box{
    max-width: 480px;
}
.footer_topWrap .btn_talk {
    font-size: 25px;
    font-weight: 600;
    color: #257356;
    background: #FFFFFF;
    width: auto;
    display: inline-block;
    padding: 2px;
    border-radius: 12px;
    min-width: 180px;
    text-align: center;
}
.footer_topWrap .btn_talk a:link,
.footer_topWrap .btn_talk a:active,
.footer_topWrap .btn_talk a:visited {
    border: 3px solid #257356;
    display: block;
    margin: 0;
}
.footer_topWrap .btn_talk:focus,
.footer_topWrap .btn_talk:hover {
    background: #FFFFFF;
    color: #257356;
    -webkit-box-shadow: 0px 0px 19px -3px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 19px -3px rgba(0,0,0,1);
    box-shadow: 0px 0px 19px -3px rgba(0,0,0,1);
}
.footer_bottomWrap {
    background: #191919 url('../images/frontendimages/new_layout_images/footer-bg.png') no-repeat left center;
    padding: 75px 100px 50px;
    color: #fff;
    background-size: contain;
}
.footer_bottomWrap p {
    margin: 0 0 10px;
}
.footer_left_bottom .addressWrap {
    width: 230px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    float: right;
}
.footer_left_bottom .copyright_text {
    padding-bottom: 30px;
}
.footer_left_bottom .addressWrap h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 10px;
}
.footer_left_bottom .addressWrap h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px;
}
.footer_left_bottom .copyright_text span {
    font-weight: 300;
    font-style: italic;
}
.footer_left_bottom .addressWrap .btn_direct {
    margin: 30px 0 15px;
    max-width: 186px;
    display: block;
}

.footer_left_bottom .addressWrap .btn_tour {
    margin-bottom: 12px;
    display: block;
}
.footer_right_bottom .footer_buttonWrap {
    padding-bottom: 30px;
    box-sizing: inherit;
    clear: both;
    display: inline-block;
    width: 100%;
    text-align: right;
}
.footer_right_bottom .footer_buttonWrap .industry_textbox {
    padding: 7px 18px;
    width: 50%;
    height: 40px;
    line-height: 40px;
    border: 2px solid #73D578 !important;
    border-radius: 15px;
    color: #73D578;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.footer_right_bottom .footer_buttonWrap .industry_textbox::-webkit-input-placeholder {
    color: #73D578;
}
.footer_right_bottom .footer_buttonWrap .industry_textbox:focus {
    -webkit-box-shadow: 0px 0px 19px -3px rgba(115,213,120,1) !important;
    -moz-box-shadow: 0px 0px 19px -3px rgba(115,213,120,1) !important;
    box-shadow: 0px 0px 19px -3px rgba(115,213,120,1) !important;
    outline: none !important;
}
.footer_right_bottom .btn_email {
    float: right;
    margin-left: 15px;
    height: 57px;
    border-radius: 15px;
    cursor: pointer;
    vertical-align: middle;
    padding: 0 30px;
}
.footer_right_bottom .btn_email:hover {
    -webkit-box-shadow: 0px 0px 19px -3px rgba(115,213,120,1);
    -moz-box-shadow: 0px 0px 19px -3px rgba(115,213,120,1);
    box-shadow: 0px 0px 19px -3px rgba(115,213,120,1);
}
.footer_right_bottom .btn_email img {
    width: 20px;
    margin-right: 10px;
    margin-top: 13px;
    float: left;
}
.footer_right_bottom .product_menu h4 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 20px;
}
.footer_right_bottom ul {
    margin: 0;
}
.footer_right_bottom ul li {
    padding-bottom: 5px;
}
.footer_right_bottom  ul li a:link,
.footer_right_bottom ul li a:active,
.footer_right_bottom ul li a:visited {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}
.footer_right_bottom ul li.active a,
.footer_right_bottom ul li a:hover {
    color: #73D578;
}
.footer_right_bottom .product_menu ul li a:link,
.footer_right_bottom .product_menu ul li a:active,
.footer_right_bottom .product_menu ul li a:visited {
    font-size: 18px;
    font-weight: 300;
}
.footer_right_bottom .socialWrap {
    padding-top: 40px;
}
.footer_right_bottom .socialWrap img {
    margin-right: 10px;
}
.footer_right_bottom .socialWrap h4 {
    font-size: 20px;
    color: #73D578;
    font-weight: 400;
}
/* *************** Footer Container css end ***************** */

/* New style start */
.user-block {
    position: absolute;
    right: 20px;
    top: 35px;
}
.avatar-status {
    position: relative;
    display: inline-block;
    width: 35px;
    vertical-align: bottom;
    border-radius: 50px;
}
.avatar-status img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0;
    border-radius: 1000px;
    background: #e6e6e6;
}
#profile-dropdown {
    width: 180px !important;
}
#search-results {
    position: absolute;
    top: 65px;
    left: 5px;
    width: 795px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    padding: 25px;
    height: 265px;
    overflow-y: scroll;
}
.close-search-modal-trigger {
    position: absolute;
    top: 0px;
    right: 0px;
}
#search-results .product-item {
    display: flex;
    padding: 5px;
    position: relative;
}
#search-results .product-item:nth-child(odd) {
    background: #f8f8f8;
}
#search-results .product-item:nth-child(even) {
    background: #fff;
}
#search-results .product-item:hover {
    background: #eeeeee;
}
#search-results .product-item .product-img {
    margin-right: 20px;
}
#search-results .product-item .product-img img {
    width: 100px;
}
#search-results .product-item .product-short-intro {
    line-height: normal;
    padding-top: 17px;
}
#search-results .product-item .product-short-intro h4 {
    font-size: 15px;
    margin: 0px;
    padding-bottom: 5px;
    font-weight: 500;
    color: #4CAF50;
}
#search-results .product-item .product-short-intro p {
    margin: 0px;
    padding-bottom: 10px;
    font-size: 14px;
}
#search-results .product-item .product-short-intro h5 {
    font-size: 16px;
    margin: 0px;
    padding-bottom: 5px;
    font-weight: 500;
}
#search-results .product-item .product-short-intro h5 span {
    font-weight: 300;
    font-size: 12px;
}
#search-results .vendor-info {
    padding: 5px;
    position: relative;
}
#search-results .vendor-info:nth-child(odd) {
    background: #f8f8f8;
}
#search-results .vendor-info:nth-child(even) {
    background: #fff;
}
#search-results .vendor-info:hover {
    background: #eeeeee;
}
#search-results .vendor-info h4 {
    font-size: 15px;
    margin: 0px;
    padding-bottom: 5px;
    font-weight: 500;
    color: #4CAF50;
}
#search-results .vendor-info .details p {
    margin: 0px;
    padding-bottom: 0px;
    font-size: 14px;
}

legend {
    background-color: #ddd;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    padding: 10px;
    display: block;
}

.card {
    box-shadow: 0px 2px 10px 2px rgb(0 0 0 / 44%);
    border-radius: 10px;
    padding: 20px !important;
}

.user-profile-basic-info-block {
    margin: 50px 0px;
}
.user-profile-info-block {
    margin: 30px 0px;
}
/* New style end */