/* clear fix start */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    word-break: break-word;
    color: #484848;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
.mce-widget.mce-notification.mce-notification-warning {
    display: none !important;
}
a {
    color: #55a860;
    text-decoration: none;
    background-color: transparent;
}
legend {
    background-color: #ddd;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    padding: 10px;
    display: block;
    border-radius: 5px;
}
p {
    margin-bottom: 10px;
}
.main-header {
    padding: 10px;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, 
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #55a860;
}
.card-primary:not(.card-outline)>.card-header {
    background-color: #55a860;
}
.card {
    background: #fff;
    border: none;
    padding: 15px;
    -webkit-box-shadow: 0px 2px 12px 0px rgb(0 0 0 / 18%);
    -moz-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 2px 12px 0px rgb(0 0 0 / 18%);
    border-radius: 10px;
}
b,
label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 600;
}

#dashborad-panel div {
    width: auto !important;
}
#dashborad-panel div.icon a {
    width: 100px;
    background-color: #fff;
    background-position: -30px;
    display: block;
    float: left;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 11px;
    color: #565656;
    vertical-align: middle;
    text-decoration: none;
    border: 1px solid #CCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition-property: background-position, 0 0;
    -moz-transition-property: background-position, 0 0;
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
}
#dashborad-panel div.icon a:hover {
    background-position: 0;
    -webkit-border-bottom-left-radius: 50% 20px;
    -moz-border-radius-bottomleft: 50% 20px;
    border-bottom-left-radius: 50% 20px;
    -webkit-box-shadow: -5px 10px 15px rgb(0 0 0 / 25%);
    -moz-box-shadow: -5px 10px 15px rgba(0,0,0,0.25);
    box-shadow: -5px 10px 15px rgb(0 0 0 / 25%);
    position: relative;
    z-index: 10;
}
#dashborad-panel div.icon i {
    display: block;
    font-size: 25px;
    margin-bottom: 10px;
}
#dashborad-panel div.icon span {
    font-size: 12px;
}
.tox-notifications-container {
    display: none;
}

.order-details-block p {
    margin-bottom: 5px;
    line-height: normal;
}
.order-top-block {
    padding-top: 20px;
    padding-bottom: 50px;
}
.reply.order-top-block {
    padding: 15px;
}
.reply.order-top-block:nth-child(odd) {
    background: #f8f8f8;
    border-bottom: 1px solid #ccc;
}
.reply.order-top-block:nth-child(even) {
    background: #fff;
    border-bottom: 1px solid #ccc;
}
.order-modification-comment-modal .btn.add-comment {
    margin-top: 20px;
    line-height: 35px;
    padding: 0 10px!important;
    height: 38px;
}
.order-proceed-btn {
    text-align: right;
}
.order-address-block {
    padding-bottom: 25px;
}
.order-address-block h4 {
    font-size: 20px;
    padding-bottom: 15px;
    margin-bottom: 0px;
}
.order-payment-block {
    padding-bottom: 25px;
    padding-top: 25px;
}
.order-colosize-block {
    padding-top: 0px;
    padding-bottom: 25px;
}
.order-colosize-block legend {
    margin-bottom: 0px;
}
.order-colosize-block h4 {
    font-size: 16px;
}
.color-size-list {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.border-separator {
    border-bottom: 1px solid #f1f1f1;
}
.slick-next:before,
.slick-prev:before {
    color: #000 !important;
}

.table-bordered td.sub-cat-item {
    padding-left: 15px;
}
.table-bordered td.second-sub-cat-item {
    padding-left: 30px;
}

.related-product label {
    display: block;
}
.related-product .select2-container {
    width: 100% !important;
}
.related-product .select2-container .select2-search--inline {
    float: none !important;
    display: block !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    display: inline-block !important;
    float: none !important;
}
.related-product .select2-container--default .select2-search--inline .select2-search__field {
    width: 100% !important;
}

.admin-notification-dropdown .nav-item.dropdown {
    padding: 0 10px;
}
.admin-notification-dropdown li a {
    display: flex;
}
.admin-notification-dropdown li a i {
    /* padding-top: 15px; */
    font-size: 25px;
    color: #54A958;
}
.admin-notification-dropdown li .navbar-badge{
    border-radius: 100%;
    width: 18px;
    height: 18px;
    color: #fff;
    line-height: 15px;
    display: inline-block;
    font-size: 10px;
    text-align: center;
    right: 5px;
    top: -4px;
}
.admin-notification-dropdown .dropdown-menu {
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 8px;
}
.admin-notification-dropdown .dropdown-menu .fas {
    font-size: 20px;
    margin-top: 7px;
}

.admin-notification-dropdown .dropdown-menu .dropdown-item.active, 
.admin-notification-dropdown .dropdown-menu .dropdown-item:active {
    background-color: #eee;
    color: #16181b;
}
.admin-notification-dropdown .dropdown-menu .text-sm {
    margin-top: 5px;
    font-size: 13px !important;
}
.amount-block {
    width: 350px;
}
.prod-mod-req-content .reply-message-block {
    margin-bottom: 15px;
}

.user_list_wrapper legend {
    margin-bottom: 30px;
}
.user_list_wrapper p {
    margin-bottom: 5px;
}
.user_list_itembox {
    text-transform: capitalize;
    margin-bottom: 40px;
}
.user_list_itembox .item_list_box {
    margin: 0 15px 30px;
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    position: relative;
    -webkit-box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 20%);

}
.user_list_wrapper .enable_disable_label {
    text-align: right;
}
.user_list_wrapper .view_details {
    display: block;
    background: #54A958;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
}

.orders_box {
    padding-bottom: 20px;
    width: 100%;
}
.btn_green {
    background: #54A958;
    border: 1px solid #54A958 !important;
    color: #FFFFFF;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 5px 10px;
    padding: 6px 15px;
    -webkit-box-shadow: 0px 0px 14px -3px rgb(68 133 71);
    -moz-box-shadow: 0px 0px 14px -3px rgba(68,133,71,1);
    box-shadow: 0px 0px 14px -3px rgb(68 133 71);
    min-width: 100px;
    display: inline-block;
    text-align: center;
}
.btn_green:focus,
.btn_green:hover,
.orders_box .btn_green:hover {
    color: #ffffff;
    outline: none;
    background: #54A958;
    -webkit-box-shadow: 0px 0px 19px -3px rgba(68,133,71,1);
    -moz-box-shadow: 0px 0px 19px -3px rgba(68,133,71,1);
    box-shadow: 0px 0px 19px -3px rgba(68,133,71,1);
}

.certification_table img {
    max-width: 100px;
    height: auto;
}

.pagination .page-item .page-link {
    color: #54A958;
}
.pagination .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #54A958;
    border-color: #54A958;
}
.fa-plus {
    margin-right: 5px;
    font-size: 14px;
}
.btn-primary {
    color: #fff;
    background-color: #54A958;
    border-color: #54A958;
}
.btn-primary:focus,
.btn-primary:hover {
    background: #54A958;
    border-color: #54A958;
    -webkit-box-shadow: 0px 0px 14px -3px rgb(68 133 71);
    -moz-box-shadow: 0px 0px 14px -3px rgba(68,133,71,1);
    box-shadow: 0px 0px 14px -3px rgb(68 133 71);
}

.order-modification-comment-modal .order-info-details {
    padding: 10px 0;
}
.order-modification-comment-modal .order-info-details img {
    width: auto;
    max-height: 80px;
    border-radius: 5px;
    margin: 3px;
}
.order-address-block .fas,
.order-info-top .fas,
.order-info-top .far {
    color: #54A958;
    margin-right: 5px;
}
.admin_blog_form .btn-group {
    margin-top: 10px;
}
.blog_list_table {
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20px;
}
.blog_list_table thead {
    background: #54A958;
    color: #ffffff;
}
.blog_list_table thead .fa {
    color: #ffffff !important;
}
.admin_blog_form .btn-info,
.admin_blog_form .btn-info:hover {
    color: #fff;
    background-color: #54A958 !important;
    border-color: #54A958 !important;
    height: 35px;
    line-height: 20px;
    margin-right: 5px;
    border-radius: 5px !important;
    padding: 0 10px 1px;
}
.admin_blog_form .btn-danger {
    border-radius: 5px !important;
    height: 35px;
    line-height: 20px;
    padding: 0 10px 1px;
}
.admin_blog_form .form-control {
    height: inherit; 
}
.admin_blog_form .btn-group .fas {
    font-size: 12px;
    float: left;
    margin: 5px 5px 0 0;
}
.blog_list_table tr td form .btn-danger {
    float: none;
}

.certification_edit_admin .thumbnail_img img {
    max-width: 200px;
    height: auto;
}

.blog_feature_image_wrap img {
    height: 120px;
    width: auto;
    min-height: 100px;
    border: 1px solid #eee;
    margin-bottom: 10px;
}

.order-details-block .amount-block,
.admin_order_create_form .amount-block {
    width: 100%;
    padding-top: 30px;
}
.admin_order_query_table .ord-mod-color-sizes,
.admin_order_create_form .ord-mod-color-sizes {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.admin_order_query_table thead,
.admin_order_create_form thead  {
    background: #54A958;
    color: #ffffff;
}
.admin_order_query_table thead th,
.admin_order_create_form thead th {
    padding: 10px;    
}
.admin_order_create_form .ord-mod-color-sizes td {
    padding: 3px;
}
.admin_order_query_table .add-more-block {
    background: #54A958;
    display: inline-block;
    color: #ffffff;
    margin-top: 15px;
    height: 35px;
    line-height: 34px;
    padding: 0 10px;
    border-radius: 5px;
    line-height: 32px;
}
.admin_order_query_table .add-more-block:hover {
    color: #ffffff;
}
.remove-color-size-block,
.remove-color-size-block:hover {
    color: #DC143C;
}
.admin_order_query_table .fa-plus-circle {
    margin-right: 5px;
}
.admin_order_query_table .fa-minus-circle:before {
    margin-right: 5px;
}
.admin_certification_add input,
.admin_product_Category input {
    height: auto;
}
.admin_certification_add .thumbnail_img img,
.admin_product_Category .admoin_category_img img {
    max-width: 150px;
}
.admin_business_profile_details legend {
    margin-bottom: 20px;
}
.admin_business_profile_details .submitBox {
    padding: 20px 0 40px;
    text-align: right;
}
.radio-inline {
    padding-right: 10px;
}
.radio-inline input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    width: 18px;
    height: 18px;
    float: left;
    margin: 4px 5px 0 0;
}

.admin_categories_list tr th {
    white-space: nowrap;
}
.admin_categories_list tr td {
    text-align: left;
}
.admin_categories_list table tr td img {
    max-height: 30px;
}
.admin_categories_list tr td .btn-success {
    margin-bottom: 5px;
    display: inline-block;
}
.no_more_tables table {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.no_more_tables table thead {
    background: #54A958;
    color: #ffffff;
}
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_length {
    padding: 20px 0;
}
.data-filter-bar,
.show-active-users-list-trigger {
    display: block;
    font-weight: 600;
}
#user-list-modal .modal-xl,
#active-users-list-modal .modal-dialog {
    max-width: 90%;
}
#user-list-modal .table tr th,
#user-list-modal .table tr td {
    white-space: inherit;
    word-break: break-word;
}
.data-filter-bar {
    padding: 20px 0;
}
.active_users_list {
    text-align: right;
    padding: 20px 0;
}
.active_users_list .btn_green {
    display: inline-block;
}
.active_users_list .btn_green,
.data-filter-bar .btn_green {
    font-size: 14px;
    margin-right: 0;
} 
.table.table-striped a.colorSizeModal {
    display: block;
}
.admin_order_query_table table thead tr th,
.admin_order_create_form table thead tr th,
.shipping-charge-block table thead tr th {
    white-space: nowrap;
    font-size: 14px;
}
.sidebar-mini .nav-sidebar .nav-link {
    white-space: normal;
    display: flex;
}
.admin_rfq_wrapper p {
    margin-bottom: 5px;
}
.admin_rfq_wrapper .rfq_replay_box {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}
.rfq_replay_box h6 {
    font-size: 18px;
    margin-bottom: 10px;
}
.rfq_replay_box p {
    margin-bottom: 0;
}


/* ################################## */
.invoice_top_button_wrap {
    padding-bottom: 20px;
    display: inline-block;
    text-align: right;
    width: 100%;
}

.buyerdata_info_admin {
    padding: 10px 10px 20px;
}
.buyerdata_info_top {
    padding-bottom: 10px;
}
.purchase_order_wrap .no_more_tables table {
    border-radius: 0;
}
.purchase_order_wrap .no_more_tables table thead {
    background: none;
    color: #212529;
}
.buyerdata_info_admin .grand_total_title {
    text-align: right;
}
.shipping_details {
    padding-bottom: 20px;
}
.shipping_details label {
    margin-bottom: 0;
}
.purchase_order_wrap label{
    font-weight: 600;    
    font-size: 14px;
}

.has_feedback_wrap .has-feedback label {
    display: block;
}
.invoice_terms_conditions .list-group-item label {
    font-weight: 400 !important;  
    font-size: 16px;
}

.invoice_terms_conditions .list-group-item {
    border: none;
    padding: 0 0 5px;
}
.invoice_terms_conditions .list-group-item .fa {
    margin-right: 10px;
}

.shipping_attachment_wrap ul {
    padding-left: 10px;
    list-style: none;
}
.shipping_attachment_wrap ul li {
    margin-bottom: 5px;
}

.business_profile_name {
    display: flex;
    padding: 5px 10px;
}
.business_profile_name:nth-child(odd) {
    background: #fff;
}
.business_profile_name:nth-child(even) {
    background: #f1f1f1;
}
.business_profile_name .propose_price {
    width: 50px;
    margin-left: auto;
}
.rfq_business_profile_list {
    height: 315px;
    overflow-y: auto;
}


/* ********************************* */
.admin_products_list_wrap {
    padding: 15px;
}
.admin_products_list_wrap legend {
    margin-bottom: 20px;
}
.products_list_filterBox legend {
    display: inline-block;
    width: 100%;
}
.admin_products_list_wrap .filter_wrap {
    float: right;
    text-align: right;
    margin-top: -2px;
}
.admin_products_list_wrap .filter_by {
    text-align: center;
    padding-left: 10px;
    line-height: 18px;
    float: right;
}
.admin_products_list_wrap .filter_by span {
    display: block;
    font-size: 11px;
    font-weight: 300;
    color: #54A958;
}
.admin_products_list_wrap .product_filter_button {
    background: none;
    border: none !important;
}
.admin_products_list_wrap .product_filter_button .fa-filter {
    color: #54A958;
    font-size: 18px;
}


.admin_products_list_wrap .product_filter_list {
    transition: 0.9s;
}
.admin_products_list_wrap .container-fluid {
    padding: 0;
}
.products_list_filterBox {
    padding-bottom: 20px;
}

#product_filter_form .row {
    margin: 0;
}
.product_search {
    padding: 20px 0;
}
.product_search .form-control {
    float: left;
    width: 50%;
}
.product_search .btn_green {
    float: left;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    padding: 5px 15px 7px;
}
.admin_products_details .no_more_tables,
.admin_products_list_wrap .no_more_tables {
    margin-bottom: 20px;
    border-bottom: 1px solid #dee2e6;
}

.admin_products_list_wrap .pagination {
    padding-top: 25px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.admin_products_list_wrap .pagination li {
    display: inline-block;
}
.uploaded-product-images {
    display: inline-block;
    width: 100%;
}
.uploaded-product-images .uploaded_img {
    display: inline-block;
    margin: 0 5px 5px 0;
}
.uploaded-product-images img {
    max-height: 100px;
    width: auto;
    border: 1px solid #dee2e6;
}

.admin_products_list_wrap .product_filter_button:focus {
    border: none !important;
    outline: none;
}
.admin_products_details .table-bordered td,
.admin_products_details .table-bordered th {
    padding: 5px 10px;
}
.admin_products_details label {
    margin-right: 10px;
}

/* ********************************* */









@media only screen and (max-width: 800px) {
    .no_more_tables {
        padding: 10px 5px;
    }
	
	/* Force table to not be like tables anymore */
	.no_more_tables table, 
	.no_more_tables thead, 
	.no_more_tables tbody, 
	.no_more_tables th, 
	.no_more_tables td, 
	.no_more_tables tr { 
		display: block; 
	}
    .no_more_tables tr {
        margin-bottom: 1admin_products_list_wrap5px;
    }
	/* Hide table headers (but not display: none;, for accessibility) */
	.no_more_tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.no_more_tables tr { 
        border: 1px solid #ccc !important; 
    }
	.no_more_tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50% !important; 
		white-space: normal;
		text-align:left;
        text-align: left !important;
        min-height: 25px;
	}
	.no_more_tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 7px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: inherit;
		text-align:left;
		font-weight: bold;
	}
    .no_more_tables td:before { content: attr(data-title); }

    .grand_total_title,
    .empty_td {
        display: none !important;
    }

    .order-details-block .color-and-size-block {
        width: 100%;
    }
    .order-details-block .billing-address-block {
        padding-bottom: 20px;
    }

    .admin_business_profile_details .order_value {
        min-height: 40px;
    }
    .admin_business_profile_details .order_value input {
        width: 100%;
    }
    .admin_business_profile_details .radio-inline {
        display: block;
    }

    .no_more_tables .no_data_td {
        padding-left: 10px !important;
    }

    table tr td form .btn-danger {
        float: none;
    }

    .shipping-address-block {
        padding-bottom: 20px;
    }
    .order-details-block .no_more_tables td:before{
        top: 15px;
    }

}

@media only screen and (max-width: 767px) {
    .active_users_list {
        text-align: left;
    }

    .admin_rfq_left {
        padding-bottom: 30px;
    }
    .rfq_replay_box .col-md-4 {
        padding-bottom: 20px;
    }

}

@media only screen and (max-width: 640px) {
    legend {
        font-size: 16px;
    }
    .dataTables_wrapper .dataTables_filter, 
    .dataTables_wrapper .dataTables_length {
        padding: 0;
    }
    .dataTables_wrapper .dataTables_filter {
        padding-bottom: 20px;
    }

    .admin_products_list_wrap .filter_by {
        padding: 0;
    }
    .admin_products_list_wrap .filter_by span {
        font-size: 9px;
        line-height: 12px;
    } 
    .admin_products_list_wrap .product_filter_button .fa-filter {
        font-size: 14px;
    }   
}

@media only screen and (max-width: 420px) {
    .no_more_tables td:before {
        font-size: 14px;
        top: 3px;
        line-height: 16px;
    }


}